@font-face {
  font-family: "DaunPenh";
  font-style: normal;
  font-weight: normal;
  src: local("DaunPenh"), url("daunpenh.woff") format("woff"), url('daunpenh.ttf') format('truetype');
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "DaunPenh", sans-serif;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbb;
  color: #8E0012;
  overflow: hidden;
}

body, #root {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}